<div class="container">
  <div class="profile">
    <div class="profile-pic-area mt-4">
      <% if @user.profile_picture.attached? %>
        <%= image_tag @user.profile_picture, class: "avatar-large" %>
      <% else %>
        <%= image_tag("homepage.webp", class: "avatar-large") %>
      <% end %>
    </div>
    <div data-controller="toggle" class="mt-5">
      <div class="info">
        <div class="info details">
          <p><strong>Username</strong></p>
          <p><%= @user.username %></p>
        </div>
        <div class="info details">
          <p><strong>Email</strong></p>
          <p><%= @user.email %></p>
        </div>
        <div class="info details">
          <p><strong>Password</strong></p>
          <p>**********</p>
        </div>
        <br>
        <div class="edit">
          <p><strong>Edit</strong></p>
          <%= link_to edit_user_registration_path do %>
            <button class="btn profile-edit"><i class="fa-solid fa-pen-to-square"></i></button>
          <% end %>
        </div>
        <hr>
        <div class="delete">
          <p><strong>Delete account</strong></p>
          <%= link_to edit_user_registration_path do %>
            <button class="btn red"><i class="fa-solid fa-user-xmark"></i></button>
          <% end %>
        </div>
      </div>
      <div class="logout-btn">
        <%= link_to edit_user_registration_path do %>
          <button class="btn large">LOG OUT</button>
        <% end %>
      </div>
    </div>
  </div>
</div>
