<div class="container">
  
  <button class="large" id="select-skills-btn">💪</button>
  <div class="cards">
    <% @selected_skills.each do |skill| %>
      <%= link_to skill_path(skill) do %>
        <div class="card">
          <%= image_tag "#{skill.name}.webp", class: "card-img", alt: "Card image #{skill.name}"%>
          <div class="card-body">
            <h4 class="card-title"><%= skill.name %></h4>
            <p class="card-text"><%= skill.progression %></p>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
<!-- Modal for selecting skills -->
<div id="skills-modal" style="display: none;">
  <% @all_skills.each do |skill| %>
    <div class="skill-selection">
      <%= check_box_tag "skill_ids[]", skill.id, @selected_skill_ids.include?(skill.id) %>
      <%= skill.name %>
    </div>
  <% end %>
  <button id="save-skills-btn">Save</button>
</div>
